.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  z-index: 1;

  &__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    //background-color: royalblue;
    border-radius: 3px 3px 0 0;

  }

  &__body{
    padding: 10px;
  }

  &__title{
    display: inline-block;
    margin: 0;
    font-size: 20px;
  }

  &__content{
    width: 400px;
    height: 200px;
    border-radius: 3px;
  }

  &__bodyButtons{
    display: flex;
    justify-content: center;
  }

  &__bodyBtn{
    width: 70px;
    margin: 0 10px 20px 0;
    text-transform: capitalize;
    color: white;
  }

  &__addToCartCloseBtn{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0 10px;
  }

  &__addToCartModalContent{
    background-color: black;
    box-shadow: white 0 0 10px 3px;
  }

  &__addToCartOkBtn, &__addToCartCancelBtn{
    background-color: white;
    color: black;
    margin: 0 20px;
    padding:10px;
  }

}

