body{
  background-color: black;
}
.button-wrapper{
  display: flex;
  justify-content: space-between;
  margin:20px 160px;

}

button{
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 17px;
  text-transform: uppercase;
}

.first-modal{
  background-color: white;
}

.second-modal{
  background-color: cornsilk;
}