.header-menu{
  display: flex;
  justify-content: space-between;
  margin:20px 160px;

  &__link{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    box-shadow: 0 5px 5px 2px white;
    padding: 5px 15px;
    transition: 0.3s ease all;
  }
  &__link:hover{
    box-shadow: 0 0 2px 1px white;
  }
}