.product-item{

  background-color: white;
  margin: 50px;
  display: inline-block;
  border-radius: 3px;
  padding: 20px 30px;
  box-shadow:white 0 0px 0px 0px;
  transition: 0.3s ease-out;
  font-family: sans-serif;
  font-weight: bold;

  &__name{
    font-size: 20px;
  }

  &__image{
    max-width: 400px;
  }

  &__vendorCode{
    font-size: 14px;
    font-weight: normal;
  }

  &:hover{
    box-shadow:white 0 0px 5px 2px;
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;

  }

  &__addToCartButton{
    background-color: white;
    border: 1px solid black;
    padding: 15px 30px;
    transition: 0.3s ease all;
  }

  &__addToCartButton:hover{
    background-color: black;
    color: white;
  }

  &__star{
    transform: scale(1.5);
    color: #000;
    margin-top: 20px;
  }


}

button{
  outline:none;
  cursor: pointer;
}

.active{
  transform: scale(1.5);
  color: #fcc203;
  margin-top: 20px;
}