.wrapper{
    border-radius: 3px;
    background-color: lightblue;
    padding: 10px 0 10px 50px;
    margin: 20px;
    box-shadow: 0 0 5px 0 blue;
    /*text-align: center;*/
    font-family: sans-serif;
}
